body {
	font-family: 'Open Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', "Heiti TC", "文泉驛微米黑", "微軟正黑體", "Droid Sans Fallback", serif;
	font-weight: 400;
}

.center-box {
	text-align: center;
	overflow: hidden;
}

.center-box:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	/*margin-right: -0.25em;*/
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

.info {
	background: #0E0E0D;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
}

.nav {
	font-weight: 400;
	font-size: 18px
}

.pane {
	background: #eee;
	padding-bottom: 20px;
	margin-top: 20px;
}

.ending {
	margin-top: 30px;
}