body {
	font-family: 'Open Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', "Heiti TC", "文泉驛微米黑", "微軟正黑體", "Droid Sans Fallback", serif;
	font-weight: 400;
}

h1, h2, p {
	padding-left: 10px;
}

.pull-right {
	padding-right: 10px;
}

.center-box {
	text-align: center;
	overflow: hidden;
}

.center-box:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	/*margin-right: -0.25em;*/
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

.bump {
	background: #0E0E0D;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
}

.nav {
	font-weight: 400;
	font-size: 18px
}

.pane {
	background: #eee;
	padding-bottom: 20px;
	margin-top: 20px;
}

.ending {
	margin-top: 30px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#info {
	background: #fff;
	z-index: 1000;
}

#info + div {
	display: none;
}

.affix {
	left: 0;
	right: 0;
	top: 0;
	position: static;
}

@media (min-width: 768px) {
	.affix {
		position: fixed;
	}

	#info.affix + div {
		display: block;
	}
}